.new-post-modal {
	width: 90%;
	min-height: 16rem;
}

.post-modal-active {
	transform: translateY(0vh);
	transform-origin: top;
	transition: transform 0.4s ease-in-out;
}

.post-modal-hide {
	transform: translateY(-100vh);
	transition: transform 0.4s ease-in-out;
	transform-origin: top;
}

.emoji-picker-sec {
	max-width: 80vw;
	left: -2rem;
	box-shadow: 0 0 10px 5px var(--secondary-color);
	border-radius: 5px;
}

/*!  Media queries here */

@media screen and (min-width: 768px) {
	.new-post-modal {
		left: 25%;
		width: 50%;
		min-height: 40vh;
	}
}