.post-card {
    transition: background-color .3s ease-in-out;
}

.post-card:hover {
    background-color: var(--post-hover-color);
}


.show-menu {
    transform: translateX(0);
    transform-origin: right;
    transition: transform .4s ease-in-out;
    visibility: visible;
}

.hide-menu {
    transform-origin: right;
    transition: transform .4s ease-in-out;
    transform: translateY(-10px);
    visibility: hidden;
}