@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Roboto:wght@400&display=swap");

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

:root {
	--primary-color: #d7e1fb;
	--primary-color: #6e3ee4;
    --primary-hover-color:#49279d;
}

body {
	font-family: "Roboto", sans-serif;
    background-color: #F8F7FF;
}

/** Button style here */
.btn-primary {
	background-color: var(--primary-color);
	color: #d7e1fb;
	transition: background-color 1s;
}

.btn-primary:hover {
	background-color: var(--primary-hover-color);
}

/** font style here */
.text-primary {
	color: var(--primary-color);
}

.font-primary {
	font-family: "Macondo", cursive;
}
