@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Roboto:wght@400&display=swap");

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

:root {
	--primary-color: #6e3ee4;
	--secondary-color: #a19ca2;
	--primary-hover-color: #49279d;
	--primary-transparent-color: #a8a7a97c;
	--font-color: #ffffff;
	--primary-bg-color: #f3f2f5;
	--post-hover-color:#dededf;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--primary-bg-color);
}

/** Buttons style here */
.btn-primary {
	background-color: var(--primary-color);
	color: var(--font-color);
	transition: background-color 0.3s;
}

.btn-primary-outline {
	color: var(--primary-color);
	border: 2px solid var(--primary-color);
	transition: background-color 0.3s, color 0.3s;
}

.btn-secondary {
	background-color: var(--secondary-color);
	transition: background-color 0.3s, color 0.3s;
}

.btn-secondary-outline {
	border: 2px solid var(--secondary-color);
	color: var(--secondary-color);
	transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
	background-color: var(--primary-hover-color);
}

.btn-primary-outline:hover {
	background-color: var(--primary-color);
	color: var(--font-color);
}

.btn-secondary:hover {
	color: var(--font-color);
	background-color: var(--primary-color);
}

.btn-secondary-outline:hover {
	border-color: var(--primary-color);
	color: var(--primary-color);
}

.btn-icon {
	transition: transform 0.4s ease-in-out;
}

.btn-icon:hover {
	transform: translateY(-2px);
	color: var(--primary-color);
}

/** font style here */
.text-primary {
	color: var(--primary-color);
}

.font-primary {
	font-family: "Macondo", cursive;
}

/** Background style here  */

.bg-primary {
	background-color: var(--primary-bg-color);
}

.bg-secondary {
	background-color: var(--secondary-bg-color);
}

.bg-transparent {
	background-color: var(--primary-transparent-color);
}


/*!  Media queries here */

@media screen and (max-width:1024px) {
body{
	font-size: 14px;
}
}

@media screen and (max-width:768px) {
body{
	font-size: 14px;
}
}
